body {
	text-align: center;
	background-color: #053446;
	font-size: 40px;
}

button {
	transition: all 0.2s;
	text-align: center;
	transform: scale(1);
	border-color: #1a0549;
	background-color: #21075f;
	margin: 3px;
	font-size: 20px;
	height: 50px;
	width: 50px;
}

button:hover {
	transform: scale(1.25);
	border-color: #1a0549;
	background-color: #390ba5;
	cursor: pointer;
}

button:active {
	transform: scale(1.15);
	background-color: #4b22ac;
	border-color: #490540;
}

#reset {
	text-align: center;
	width: 400px;

}